/* ------------------ Global Styles------------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Marvel', sans-serif;
	background: var(--white);
	color: var(--dark);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	--white: #fff;
	--dark: #1f1e25;
	--grey: #7d7c7c;
	--yellow: #f0b65a;
	--blue: #1e95e7;
	--green: #99b84a;
	--pink: #ff6b6b;
	--purple: #895197;
}

.content {
	display: grid;
	grid-template-columns: 1fr 3fr;
	width: 80%;
	margin: auto;
}

.text {
	margin-top: 130%;
}

.text i {
	font-size: 1.4rem;
	margin-bottom: 60px;
}

.text p a {
	text-decoration: none;
}

.text p a:hover {
	text-decoration: underline;
}

.logo {
	width: 10%;
	display: inline-block;
	margin-top: 3%;
}

.wrapper {
	background: var(--white);
	border: 1px solid var(--grey);
	height: 80vh;
	width: 40%;
	margin: 10% auto 0%;
	padding: 2%;
	border-radius: 5px;
	background: rgba(217, 217, 217, 0.58);
	border: 2px solid white;
	box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
	backdrop-filter: blur(6px);
	border-radius: 17px;
	transition: all 0.5s;
}

.wrapper:hover {
	border: 1px solid black;
	transform: scale(1.02);
}

.wrapper:active {
	transform: scale(0.95) rotateZ(1.7deg);
}

.display {
	background-color: var(--green);
	border: 5px solid var(--grey);
	margin: 3% auto;
	border-radius: 3px;
	text-align: end;
	width: 90%;
}

.dark-mode {
	background: var(--dark);
	color: var(--white);
}

.wrapper-dark-mode {
	background-color: var(--dark);
	color: var(--dark);
}

.number-display {
	font-size: 2rem;
	margin-right: 3%;
	margin-top: 3%;
}

.total-display {
	font-size: 4rem;
	margin-top: 5%;
	margin-right: 2%;
}

.column {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 6%;
	gap: 5%;
}

#last-column {
	display: grid;
	grid-template-columns: 2.2fr 1fr 1fr;
	gap: 5%;
}

.button {
	border: none;
	font-size: 1.7rem;
	font-weight: 700;
	border-radius: 3px;
	transition-duration: 0.1s;
	background: var(--white);
	opacity: 60%;
	border: 1px solid var(--dark);
}

.button:hover {
	transform: scale(0.95);
	background: var(--white);
	opacity: 100%;
}

.reset-button {
	background-color: var(--yellow);
	color: #fff;
}

.reset-button:hover {
	color: var(--yellow);
}

.delete-button {
	background-color: var(--pink);
}

.delete-button:hover {
	color: var(--pink);
}

.operator {
	color: var(--purple);
	background-color: var(--blue);
}

.operator:hover {
	background-color: var(--blue);
	color: var(--white);
}

.equal-button {
	opacity: 100%;
}

.op-two {
	color: #002b5b;
}

.number {
	color: var(--white);
}

footer p {
	text-align: center;
	font-size: 0.9rem;
	letter-spacing: 2px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.dark-mode {
	background-color: black;
	color: white;
}

/* ------------------ Media Queries------------------------- */

/* Tablet View */
@media only screen and (max-width: 900px) {
	.wrapper {
		width: 70%;
		height: auto;
		padding-bottom: 20px;
	}
	.all-buttons {
		margin-top: 10%;
	}
	.column {
		gap: 5%;
	}
}

/* Small Tablet/Phablet View */
@media only screen and (max-width: 700px) {
	.content {
		/* grid-template-columns: 1fr 2fr; */
		width: 80%;
		display: block;
	}
	.wrapper {
		width: 75%;
		height: auto;
		padding-bottom: 20px;
	}
	.number-display {
		margin-right: 4%;
		margin-top: 3%;
	}
	
	.total-display {
		margin-top: 5%;
		margin-right: 3%;
	}
	.column {
		gap: 5%;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	#last-column {
		grid-template-columns: 2.2fr 1fr 1fr;
	}
	.button {
		font-size: 1.5rem;
		padding: 10px;
	}
	/* Hide text class entirely on mobile */
	.text {
		display: none;
	}
}

/* Mobile View */
@media only screen and (max-width: 500px) {
	.wrapper {
		width: 95%;
		height: auto;
		padding: 10px;
	}
	.display {
		height: 20vh;
		font-size: 1.5rem;
	}
	.number-display {
		margin-right: 4%;
		margin-top:0%;
	}
	
	.total-display {
		margin-top: 0%;
		margin-right: 3%;
	}
	.column {
		margin-top: 8%;
		gap: 5%;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	#last-column {
		grid-template-columns: 2.2fr 1fr 1fr;
		gap: 5%;
	}
	.button {
		font-size: 1.7rem;
		padding: 8px;
	}
	.all-buttons {
		margin-top: 10%;
	}
	.text{
		display: block;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.button:hover {
		transform: scale(1);
		background: var(--white);
		opacity: 100%;
	}
	.wrapper:hover {
		border: 1px solid black;
		transform: none;
	}
	
	.wrapper:active {
		transform: none;
	}
}
